/*FONTS*/
/* ----------------------------------------------------- */
@font-face {
    font-family: 'Ubuntu';
    src: url('Ubuntu-Regular.eot');
    src: url('Ubuntu-Regular.eot?#iefix') format('embedded-opentype'),
        url('Ubuntu-Regular.ttf') format('truetype'),
        url('Ubuntu-Regular.woff') format('woff'),
        url('Ubuntu-Regular.woff2') format('woff2');
        font-style: normal;
        font-weight: normal;
}

@font-face {
    font-family: 'Valorant';
    src: url('Valorant-Font.eot');
    src: url('Valorant-Font.eot?#iefix') format('embedded-opentype'),
         url('Valorant-Font.ttf') format('truetype'),
         url('Valorant-Font.woff') format('woff'),
         url('Valorant-Font.woff2') format('woff2');
         font-style: normal;
         font-weight: normal;
}


/*FONTS ONLY */
/* ----------------------------------------------------- */
html{
    font-family: 'Ubuntu', sans-serif;
}

#s1-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* CSS RESETS */
/* ----------------------------------------------------- */

*   {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html    {
    margin: 0;
    padding: 0;
}

body    {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
}


/* ACTUAL STYLING */
/* ----------------------------------------------------- */

html { 
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.headings { 
    font-size: 4em;
}

p { 
    width: 400px;
    font-size: 1em;
}

/*NAV STYLING */



nav {
    position: fixed;
    color: white;
    background-color: rgb(41, 42, 42);
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}
nav > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav > div > a {
    padding: 7px;
}

nav > div > a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;
    background-color: black;
    
}

a:link {
    color: white;
}
a:hover {
    color: white;
}
a:active { 
    color: white;
}
a:visited { 
    color: white;
}

/*SECTION -1 /*
/* ------------------------------------------------------------ */

#section-1 {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    height: 90vh;
    background-image: url("./images/texture-1.jpg");
    background-size:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#s1-title {
    font-size: 70px;
    color: white;
    height: 2em;
}

.subtitle {
    height: 2em;
    color: white;
    font-size: 2em;
}

button {
    border: 0;
    height: 50px;
    width: 200px;
    background-color: rgb(226, 50, 50);
    color: white;
    font-family: monospace;
    transition: 0.5s;
}

button:hover {
    height: 50px;
    width: 200px;
    background-color: rgb(99, 94, 94);
    color: white;
    font-family: monospace;
    transition: 0.5s;

}

/*NEWS SECTION */
/* ----------------------------------------------------------- */

h2 { 
    padding-top: 100px;
    margin-left: 20px;
    font-size: 3em;
    padding-left: 20px;
}

#news-section {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-bottom: 80px;
}

.thumbimage { 
    height: 300px;
    width: 300px;
}

.thumbnail { 
    text-align: center;
    width: 300px;
}

/* SECTION - 2 */
/* -------------------------------------------------------- */

#section-2 { 
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
    background-image: url(./images/color-1.jpg);
}

#s2-title {
    padding-left: 1em;
    padding-top: 7em;
    font-size: 4em;
    color: white;
}

#section-2 > div:nth-of-type(2) { 
    padding-left: 5em;
    padding-top: 20px;
}

/*SECTION - 3 */
/* --------------------------------------------------------- */

#section-3 { 
    margin-left: 20px;
    padding-top: 100px;
}


.image {
    width: 80%;
    display: inline;
}

#section-3 > div > button {
    outline: solid black 2px;
}

/*SECTION - 4 */
/* --------------------------------------------------------- */

#section-4 {
    color: white;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 20px;
    padding-left:20px;
    border-top: solid black;
    background-image: url("./images/texture-2.jpg");
}


/*SECTION - 5 */
/* --------------------------------------------------------- */

#section-5 {
    color: black;
    margin-top: 100px;
    padding-left:20px;
    padding-top: 100px;
}

/*SECTION - 6 */
/* --------------------------------------------------------- */

#section-6 {
    color: white;
    margin-top: 100px;
    padding-left:20px;
    background-image: url("./images/texture-3.jpg");
    padding-top: 100px;
    padding-bottom: 50px;
}

/*SECTION - 7 */
/* --------------------------------------------------------- */

#section-7 {
    color: black;
    margin-top: 100px;
    padding-left:20px;
    padding-bottom: 60px;
    padding-top: 100px;
}

/*SECTION - 8 */
/* --------------------------------------------------------- */

#section-8 { 
    color: white;
    margin-top: 100px;
    padding-left:20px;
    padding-bottom: 60px;
    padding-top: 60px;
    background-image: url("./images/texture-5.jpg");
}

/* FOOTER */ 
/* ----------------------------------------------------------- */

#footer { 
    font-family: 'Courier New', Courier, monospace;
    color: white;
    background-color: rgb(41, 42, 42);
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 40px;
}

#footer > div {
    text-align: center;
    padding-top: 90px;
    width: 400px;
}

.icon {
    width: 40px;
}

#footer > div > div {
    display: flex;
    justify-content: space-evenly;
}

/* MEDIA QUERIES */
/* ----------------------------------------------------------- */

@media (min-width: 600px) {
    #s1-title {
        font-size: 100px;
    }
}

@media (min-width: 1044px) {
    #news-section {
        flex-direction: row;
        justify-content: space-evenly;
        margin-left: 40px;
    }
    #section-3 > div{
        display: flex;
        flex-direction: row;
    }
    
    #section-3 {
        padding-right: 20px;
    }

    #section-4 > div{
        display: flex;
        flex-direction: row-reverse;
    }

    #section-4 > div > div{
        padding-left: 20px;
    }
    
    #section-4 {
        padding-right: 20px;
    }

    #section-5 > div{
        display: flex;
        flex-direction: row;
    }
    
    #section-5 {
        padding-right: 20px;
    }

    #section-6 > div{
        display: flex;
        flex-direction: row-reverse;
    }

    #section-6 > div > div{
        padding-left: 20px;
    }
    
    #section-6 {
        padding-right: 20px;
    }

    #section-7 > div{
        display: flex;
        flex-direction: row;
    }
    
    #section-7 {
        padding-right: 20px;
    }

    #section-8 > div{
        display: flex;
        flex-direction: row-reverse;
    }

    #section-8 > div > div{
        padding-left: 20px;
    }
    
    #section-8 {
        padding-right: 20px;
    }
}