/* BODY AND SECTIONS */
/* ----------------------------------------------------- */

/* All body and section styling available here (except for the fonts, which are declared in the defaults+fonts.css). One property has already been declared on the body and section element, respectively */


/* SOME CSS PROPERTIES YOU COULD USE:
{
    margin: 20px;
    margin: 20%;

    margin-left: ;
    margin-right: ;

    padding-left: 20px;
    padding-right: 20%;
    padding: 0 50px;
    padding: 10px 30px 50px 70px;

    border-width: ;
    border-style: ;
    border-color: ;
    border: ;

    font-size: ;
    line-height: ;
    letter-spacing: ;

    text-transform: lowercase;
    text-indent 20px;
    columns: 2;
    column-gap:;

    text-decoration:;
    text-decoration-line: ;
    text-decoration-thickness: ;
    text-underline-offset: ;}
    
    list-style: ;
}

*/


body {
    padding: 40px 10%;
}

h1 {
    font-size: 60px;
    text-align: center;
    text-transform: capitalize;
}
section  > p:first-of-type,
body>div > p:first-of-type {
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
}

section {
    border-top: 1px;
    border-width: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid black;
}
body>div {
    border-top: 1px;
    border-width: 1px;
    margin-top: 50px;
    margin-bottom: 50px;
    padding-top: 20px;
    border-top: 1px solid black
}
::-moz-selection {
    background-color: yellow;
    color: blueviolet;
}
::selection {
    background-color: yellow;
    color: blueviolet;
}
section:nth-of-type(1) {
    padding-left: 40px;
    padding-right: 40px;
}
section:nth-of-type(1):hover {
    background-color: aqua;
}
section:nth-of-type(2) {
    margin-left: 40px;
    margin-right: 40px;
}
section:nth-of-type(2):hover {
    background-color: rgb(0, 255, 47);
}
section:nth-of-type(3) {
    background-color: aquamarine;
    margin-top: 50px;
    padding-bottom: 30px;
}
/*LIST*/
section:nth-of-type(4) {
    margin-top: 100px;
    border: 25px solid yellow;
    padding: 20px;
    padding-left: 40px;
    
}
section:nth-of-type(4) > ul:nth-of-type(1) > li:nth-of-type(2) {
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 3px;
    text-underline-position: below;
}
section:nth-of-type(4) > ul:nth-of-type(1) > li:nth-of-type(2):hover {
    text-decoration: line-through;
}
section:nth-of-type(4) > p:nth-of-type(3) {
    list-style: none;
    margin-right: -20px;
}
section:nth-of-type(4) ul:last-of-type li::before {
    content: "\261E";
    margin-right: 10px;
}
section:nth-of-type(4) ul:last-of-type li:nth-child(even) {
    background-color: beige;
}
body > div {
    border: 1px solid black;
    outline: 25px solid yellow;
    padding-left: 40px;
}
body > div ol {
    list-style: upper-roman;
}
body > div ol li { 
    margin-bottom: 20px;
}
section:nth-of-type(5) p:first-of-type { 
    margin-bottom: 40px;
}
section:nth-of-type(5) > div {
    column-count: 3;
    column-gap: 50px;
}
section:nth-of-type(5) > div p {
    margin: 0;
}
section:nth-of-type(5) > div > p + p {
    text-indent: 60px;
}
section:nth-of-type(6) p:nth-of-type(2) ::first-line { 
    font-size: 44px;
    line-height: 0.8;
}
section:nth-of-type(6) q,
section:nth-of-type(6) blockquote { 
    color: bisque;
    padding-right: 30px;
    padding-left: 30px;
    border-left: 1px solid black;
}
section:nth-of-type(6) blockquote {
    margin-left: 30px;
}
section:nth-of-type(6) q {
    border-right: 1px solid black;
    margin-right: 10px;
}
