/* CSS RESETS */
/* ----------------------------------------------------- */

*   {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html    {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

body    {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
}


/* ACTUAL STYLING */
/* ----------------------------------------------------- */

body { 
    background-color: darkslategrey;
    padding: 20px;
}


  h1 {
    border: solid #00fff3 1px;
    border-radius: 25px;
    font-family: 'Courier New', Courier, monospace;
    color: #00fff3;
    text-align: center;
  }

.swiper {
    width: auto;
    height: auto;
  }
  
 .swiper img { 
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.swiper-slide { 
    position: relative;
}

.swiper-slide p { 
    font-family: fantasy;
    padding-top: 20%;
    font-size: 3em;
    color: rgb(255, 0, 0);
    font-weight: 800;
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
}

.swiper { 
    outline: solid #00fff3 1px;
}

.swiper-button-prev,
.swiper-button-next { 
    color: #00FFF3;
}

html{
    background-color:#000;
    height: 100%;
  }
  
  body {
      height:100%;
    background-color: #000;
    
  }
  .titles{ 
      color: #00FFF3;
     
  }
  .demoWrapper {
    width: 680px;
    height: 400px;
    -webkit-font-smoothing: antialiased;
    margin: 50px auto;
    perspective: 1100px;
    transform-style: preserve-3d;
   /* padding: 1px;*/
      margin-bottom: 200px;
  /*   background-color: #000; */
     
      
  }
  
  .box {
    position: absolute;
    width: 180px;
    height: 180px;
    background-color: #06f;
    display: inline-block;
    margin: 10px 20px 50px 235px; 
  
    overflow:hidden;
  }
  
  .creative-pro{ 
      border: 1px solid #00fff3;
      color: #00FFF2;
     background: transparent;
      height: 600px;
      font-weight: 800;
  }
  
  .creative-pro:hover{
      cursor: pointer;
      box-shadow: 0 4px 8px 0 #00fff3, 0 6px 20px 0 #00fff3;
  }
  

  #test {
    color: white;
    font-size: 3em;
    text-align: right;
    width: 850px;
  }

  .titles { 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 1000;
  }


/* Global styles come from external css https://codepen.io/GreenSock/pen/JGaKdQ*/

