
/* DIV.LEFT and DIV.RIGHT (THE FLEX CONTAINERS) */
/* ----------------------------------------------------- */

div.left, 
div.right {
    background-color: white;
    width: 100%;
    width: 50%;
    display: flex;
    align-items: center;

}
div.right {
    flex-direction: column;
}



/* FLEX ITEMS */
/* ----------------------------------------------------- */

div > div {
    margin: 2px;
    padding: 5px;
}


/* SECTION 1 */
/* ----------------------------------------------------- */

#s1 div > div {
    background-color: lightblue;
}

#s1 div > div:nth-of-type(4) {
    font-size: 2.2rem;
}

#s1 div > div:nth-of-type(5) {
    font-size: 1.5rem;
}

#s1 div > div {
    flex-grow: 1;
}


/* SECTION 2 */
/* ----------------------------------------------------- */

#s2 div > div {
    background-color: lightgreen;
}

#s2 div.right,
div.left {
    flex-wrap: wrap-reverse;
}

#s2 div > div {
    flex-basis: 90px;
}


/* SECTION 3 */
/* ----------------------------------------------------- */
#s3 div > div {
    background-color: lightgrey;
}

#s3 div > div:first-of-type {
    flex-basis: 50%;
}


/* SECTION 4 */
/* ----------------------------------------------------- */

#s4 div > div {
    background-color: yellow;
}

#s4 div.right,
div.left {
    flex-wrap: wrap;
    gap: 0.5rem;
}

#s4 div > div {
    padding: 1rem;
    padding-bottom: 1.5rem;
}

#s4 div.left > div {
    flex-basis: 47%;
}

#s4 div.right > div {
    flex-basis: 25%;
    width: 50%;
}

#s4 div.left > div:first-of-type {
    order: 2;
}

#s4 div.right > div:first-of-type {
    order: -2;
}

@media screen and (max-width:965px) {
    #s4 div.left > div {
        background-color: lightseagreen;
        flex-basis: auto;
        width: auto;
    }
    #s4 div.right > div {
        background-color: lightseagreen;
        flex-basis: auto;
        width: auto;
    }
}

@media screen and (max-width:650px) {
    #s4 div.left > div {
        background-color: lightslategrey;
        flex-basis: auto;
        width: auto;
        
    }
    #s4 div.right > div {
        background-color: lightslategrey;
        flex-basis: auto;
        width: auto;
        
    }
    #s4 div.right {
        flex-basis: auto;
    }
}
