/* CSS RESETS */
/* ----------------------------------------------------- */

*   {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html    {
    margin: 0;
    padding: 0;
}

body    {
    margin: 0;
    padding: 0;
    width: 100%;
}

img {
    display: block; 
    margin: 0 auto;
    max-width: 100%;
}


/* ACTUAL STYLING */
/* ----------------------------------------------------- */

/* GENERAL STYLING */

::selection { 
    color: lightseagreen;
    background-color: white ;
}

::-moz-selection { 
    color: lightseagreen;
    background-color: white;
}

body { 
    font-size: 24px;
    font-family: monospace;
    background-color: white;
    color: lightseagreen;
}
/* --------------------------------------------------------------- */

h1 { 
    text-align: center;
    color: lightseagreen;
    font-weight: 2000;
}

#header { 
    outline: solid lightseagreen;
    padding-top: 225px;
    height: 80vh;
    width: 100%;
    background-image: url(./images/master-2.jfif);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

img { 
    width: 70%;
    outline: solid lightseagreen 2px;
}

section { 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/time-1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

p { 
    width: 70%;
    color: white;
}

button { 
    height: 60px;
    width: 200px;
    font-size: 18px;
    font-weight: 800;
    font-family: monospace;
    background-color: lightseagreen;
    color: white;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: 0.3s;
}   

button:hover { 
    transition: 0.5s;
    transform: rotate(360deg);
    color: lightseagreen;
    background-color: white;
    outline: solid lightseagreen 2px;
}
